@page "/"

<style>
    html, body {
        height: 100%;
        margin: 0;
        background-color: #e4002b; /* Change this to your desired color */
    }

    .header {
        display: flex;
        align-items: center;
    }

    .header img {
        max-width: 5%;
        height: auto;
        margin-right: 10px; /* Adjust spacing as needed */
    }

    .header h1 {
        margin: 0;
    }
</style>

<div class="header">
    <img src="images/c_logo.jpg" alt="Children's logo'" style="max-width: 5%; height: auto;">
    <h1>Inpatient Insights</h1>
</div>

<h1>Use case #2</h1>





<iframe src="https://copilotstudio.preview.microsoft.com/environments/....replace this iframe" 
    frameborder="0"
        style="width: 100vw; height: 80vh;">
</iframe>
